
<!-- bloque de directivas de atributo -->

<p [ngStyle]="{color: 'rojo',fontWeight: 'bolder'}">lista basica</p>


<p ngClass="underLined">aqui va la lista de productos</p>


<p [ngClass]="['underLined','big']"> texto con estilo literal </p>


<p [ngClass]="{underLined: true , big: true}">directiva condicional con estilos</p>


<!-- bloque de directivas estructurales -->


<button (click)="cambiarCargando()"> {{cargando? 'terminar carga': 'inicializar carga'}}</button>

<ng-container  *ngIf="!cargando;else elseTemplate">
    <p>todo listo</p>

</ng-container>

<ng-template  #elseTemplate>
    <p>cargando...</p>
    <p>espere a que termine el proceso</p>
</ng-template>


<!-- bloque para ngfor -->
<div *ngFor="let producto of listaElementos ; let i = index; let even = even; ">
   <div [ngClass]="{'productos': even, 'productosInpar': !even}">
    <p>id = {{i+1}}</p>
    <p> {{producto.nombre}} </p>
    <p> {{producto.precio}} $ </p>
    <p> {{producto.descripcion}} </p>
   </div>
</div>


<!-- bloque para entender ngSwitch -->

<div ngSwitch="opcion">
    <p [id]="1" *ngSwitchCase="1">has escogido la opcion 1</p>
    <p [id]="2" *ngSwitchCase="2">has escogido la opcion 2</p>
    <p [id]="3" *ngSwitchCase="3">has escogido la opcion 3</p>
    <p [id]="4" *ngSwitchCase="4">has escogido la opcion 4</p>
    <p *ngSwitchDefault class="cerrar"></p>
</div>

<div>
    <input type="radio" name="opcion" (click)="escogerOpcion(1)"/>opcion 1
    <input type="radio" name="opcion" (click)="escogerOpcion(2)"/> opcion 2
    <input type="radio" name="opcion" (click)="escogerOpcion(3)"/> opcion 3
    <input type="radio" name="opcion" (click)="escogerOpcion(4)"/> opcion 4
    <input type="radio" selected="selected" name="opcion" (click)="escogerOpcion(0)"/> cerrar


    <!-- no funciona bien, no encuentro el problema  -->
    
</div>